      ###  uses the default.html 
          ###  template 
          ###



          ###
          ### nice-text.html layout
          ###

          ---
          layout: default
          ---

          <div class="pretty-text">

          <h1> {{ page.title }} </h1>

          {{ content }}

          </div>


          ###
          ### liquid-table.html layout
          ###

          ---
          layout: default
          ---

          {{ content }}

          #  liquid table starts here





    ###
    ###  LIQUID TABLE ADDED USING YAML DATA
    ###
    ###  liquid is a simple markup language that allows
    ###  web designers to separate page layouts from
    ###  page content without databases
    ###
    ###  {%  function in liquid  %}
    ###  {{  variable in liquid  }}
    ###

        ###
        ###  YAML HEADER FOR PAGE
        ###

        ---
        layout: liquid-table
        title: 'Mourning Doves Vs. Starlings'
        Doves:
          strengths:
          - Cute
          - Native to this area
          - Sweet cooing song that wakes me up in the morning
          weaknesses: 
          - Not very smart
          - Poor nest builders
          - Wakes me up too early in the morning 
        Starlings:
          strengths: 
          - Very shiny
          - Good mimics
          - Opportunistic and successful as a species
          weaknesses: 
          - Invasive
          - Crowd out other birds I like
          - Why are there so many starlings, I want to see other birds!
        ---

       ###
       ###  LIQUID TAG TABLE IN LAYOUT
       ###
       ###  HTML ELEMENTS: 
       ###  <thead> table header
       ###  <tr>  table row 
       ###  <td>  table cell (or data)
       ###  <ul> unordered list
       ###  <li> list item 
       ###

        <h2> Native Mourning Doves VS. Invasive European Starlings </h2>

        <table id="dove vs. starling">

        <thead>
          <tr>
            <th>  <h3>  Mourning Doves  </h3>  </th>
            <th>  <h3>  European Starling  </h3>  </th>
          </tr>
        </thead>

        <tbody>
        <tr>
          <td>
            <h4>  Strengths  </h4>
            <ul>

              ###  LIQUID LOOPS WITH YAML DATA
              ###  Doves:
              ###    strengths:
              ###    - Cute
              ###    - Native to this area
              ###    - Cooing song that wakes me up in the morning

              {% for item in page.doves.strengths %}
                 <li>  {{ item }}  </li>
              {% endfor %}

              ###    LIQUID LOOP CREATES HTML CODES:
              ###    <li> Cute </li>
              ###    <li> Native to this area </li>
              ###    <li> Cooing song that wakes me up in the morning </li>        

            </ul>
            <br>
            <h4>  Weaknessess  </h4>
            <ul>

              {% for item in page.doves.weaknesses %}
                 <li>  {{ item }}  </li>
              {% endfor %}

            </ul>  
          </td>
          <td>
            <h4>  Strengths  </h4>
            <ul>

              {% for item in page.starling.strengths %}
                <li>  {{ item }}  </li>
              {% endfor %}

            </ul>
            <br>
            <h4>  Weaknessess  </h4>
            <ul>

              {% for item in page.gosling.weaknesses %}
                 <li>  {{ item }}  </li>
              {% endfor %}

            </ul>
          </td>
        </tr> 
        </table>
